@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    padding: 15px;
    background: rgb(189, 248, 250);
}
#container {
    background-color: rgb(219, 31, 31);
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    border-top: 8px solid rgb(235, 51, 51);
    border-left: 8px solid rgb(235, 51, 51);
    border-right: 8px solid rgb(194, 18, 18);
    border-bottom: 8px solid rgb(194, 18, 18);
    box-shadow: 5px 5px 20px rgb(99, 99, 99);
}

#container h1 {
    font-family: 'Pacifico';
    letter-spacing: 7pt;
    font-size:32pt;
    margin: 0;
    position: absolute;
    top: 0;
    padding: 5px;
}

h1 { /* color style for etch a sketch header */

color: rgb(204, 28, 28);
text-shadow: -1px -1px 1px rgb(155, 3, 3), 0.5px 0.5px 1px rgb(243, 105, 105);
        
}

#game-area {
    border-top: 7px solid rgb(194, 18, 18);
    border-left: 7px solid rgb(194, 18, 18);
    border-right: 7px solid rgb(235, 51, 51);
    border-bottom: 7px solid rgb(235, 51, 51);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
}

#game-area div {
    padding: 0;
    background-color: rgb(245, 232, 214);
}

#container button {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    bottom: 12px;
    left: 12px; 
    border: 1px solid rgb(255, 255, 255);
    background: rgb(218, 218, 218);
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 1pt;
    box-shadow: 0 3px 6px rgb(75, 14, 14), 0 -3px 6px rgb(255, 210, 210);
    outline: none;
    color: rgb(128, 128, 128);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

#container button:active {
    box-shadow: 0 1px 5px rgb(75, 14, 14), 0 -1px 5px rgb(255, 210, 210);
    border: 1px solid rgb(235, 235, 235);
}

#container button:hover {
    color: rgb(77, 77, 77);
}

